@page
@model IndexModel
@{
    ViewData["Title"] = "Mark Lester O. Loyosa";
}

<div class="text-center">
    <div class="profile-picture">
         👨‍💻
         </div>
    <h1> Mark Lester O. Loyosa</h1>

    <p class="hero-text">
        Aspiring Web & Mobile App Developer</p>

    <p><strong> BSIT Student | Web & Mobile App Development</strong></p>

    <hr />

    <h3>About Me</h3>
    <p>
        Hi! I'm Mark Lester O. Loyosa, a BSIT student specializing in Web and Mobile App Development. I have experience building projects using C++, C#, Windows Forms, HTML, CSS, and ASP.NET Core. I am continuously improving my programming skills by creating projects and learning new technologies.
    </p>

    <h3>Skills</h3>
    
    <div class="skills-container">
        <span class="skill-badge">C++</span>
        <span class="skill-badge">C#</span>
        <span class="skill-badge">HTML</span>
        <span class="skill-badge">CSS</span>
        <span class="skill-badge">ASP.NET Core</span>
        <span class="skill-badge">GitHub</span>
        <span class="skill-badge">Microsoft Visual Studio</span>
    </div>

    <h3>Projects</h3>
    
    <div class="project-card">
        <h4>Portfolio Website</h4>

        <p>
            My personal portfolio website built using ASP.NET Core Razor Pages. This project showcases my skills, background, and future projects.
        </p>

        <p><strong>Status:</strong> Active Development</p>
    </div>

    <div class="project-card">
        <h4>Console Calculator with History</h4>

        <p>
            A C++ console calculator that performs basic arithmetic operations and stores previous calculations using arrays. The program includes a menu-driven interface, calculation history, and error handling for division by zero.
        </p>

        <p><strong>Technology:</strong> C++</p>
        <p><strong>Status:</strong> Completed</p>

    </div>

    <div class="project-card">
        <h4>Grade Converter System (C# Windows Forms App)</h4>

        <p>
            A Windows Forms Application developed in C# that converts numeric grades into their cocrresponding number equivalent and letter grade. This project demonstrates input validation, conditional logic, and GUI developemnt.
        </p>

        <p><strong>Technology:</strong> C#, Windows Forms</p>
        <p><strong>Status:</strong> Completed</p>
    </div>

    <h3>Goal</h3>

    <div class="project-card">
        <p>
            My goal is to become a Skilled web and Mobile App Developer, Build real-world  projects, and create solutions that help people.
        </p>
    </div>
        
    <h3>Contact</h3>
    <p>Email: loyosamarklester@gmail.com</p>
    <p>
        GitHub:
        <a href="https://github.com/marklester-dev" target="_blank">
            github.com/marklester-dev</a>
    </p>
</div>
